.main-container {
  height: 100vh;
}

.header {
  padding: 0 !important;
}

.header .logo {
  text-align: center;
  color: #ffffff;
  width: 200px;
  font-size: 24px;
}

.content-container {
  padding: 20px;
}
