.main-container {
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px !important;
}

.header .logo {
  text-align: center;
  color: #ffffff;
  width: 200px;
  font-size: 24px;
}

.header .right-btns {
  height: 100%;
}

.header .right-btns li {
  height: 100%;
  padding: 0 20px;
  color: #ffffff;
  user-select: none;
}

.header .right-btns li:hover {
  cursor: pointer;
}

.content-container {
  padding: 20px;
}
